/*@keyframes pulse {
    0% { transform: scale(1); left: 0px; }
    50% { transform: scale(1.05); left: 15px; }
    100% { transform: scale(1); left: 0px; }
}*/

#workarea > * {display: none;}
#workarea > *:target {
  display: block;
  animation: pulse 0.2s linear 1;
}
#workarea > *:last-child {display: block;}
#workarea > *:target ~ * {display: none;}
